
@{
    ViewBag.Title = "Afinidades";
}

<h2>Cadastro de Afinidades</h2>

<div class="container">
    <form action="/Home/ExecutaAfinidades">

        <input type="checkbox" id="Refugiados" name="Refugiados" class="form-control" />Refugiados</br>
        <input type="checkbox" id="Refugiados" name="Refugiados" class="form-control" />Crianças vítimas de abuso</br>
        <input type="checkbox" id="Refugiados" name="Refugiados" class="form-control" />Pessoas em situação de rua</br>
        <input type="checkbox" id="Refugiados" name="Refugiados" class="form-control" />Mulheres vítimas de violência</br>
        <input type="checkbox" id="Refugiados" name="Refugiados" class="form-control" />Crianças desaparecidas</br>
        <input type="checkbox" id="Refugiados" name="Refugiados" class="form-control" />Animais abandonados</br>
        <input type="checkbox" id="Refugiados" name="Refugiados" class="form-control" />Crianças e adolescetes fora da escola</br>
        <input type="checkbox" id="Refugiados" name="Refugiados" class="form-control" />Idosos</br>
        <input type="checkbox" id="Refugiados" name="Refugiados" class="form-control" />Pessoas com deficiência</br>
        <input type="checkbox" id="Refugiados" name="Refugiados" class="form-control" />Direitos Humanos</br>
        

        <input type="submit" class="form-control" value="Finalize suas Afinidades" />
        
    </form>
</div>