
@{
    ViewBag.Title = "CadastroVoluntario";
}

<h2>Cadastro Voluntário</h2>


<div class="container">
    <form action="/Home/FinalizarCadastro">
        <label for="nome">Nome:</label>
        <input id="nome" name="nome" class="form-control" />

        <label for="cpf">CPF:</label>
        <input id="cpf" name="cpf" class="form-control" />

        <label for="rg">RG:</label>
        <input id="rg" name="rg" class="form-control" />

        <label for="email">Email:</label>
        <input id="email" name="email" class="form-control" />

        <label for="sexo">Sexo:</label>
        <input id="sexo" name="sexo" class="form-control" />

        <label for="nascimento">Data de Nascimento:</label>
        <input id="nascimento" name="nascimento" class="form-control" />

        <label for="endereco">Endereço:</label>
        <input id="endereco" name="endereco" class="form-control" />

        <label for="senha">Senha:</label>
        <input id="senha" name="senha" class="form-control" />

        <input type="submit" class="form-control" value="Finalizar Cadastro" />
    </form>
</div>



